@font-face {
    font-family: Quicksand-Bold;
    src: url(../fonts/Quicksand-Bold.ttf);
  }
@font-face {
    font-family: Quicksand-Light;
    src: url(../fonts/Quicksand-Light.ttf);
  }
@font-face {
    font-family: Quicksand-Medium;
    src: url(../fonts/Quicksand-Medium.ttf);
  }
@font-face {
    font-family: Quicksand-Regular;
    src: url(../fonts/Quicksand-Regular.ttf);
  }
@font-face {
    font-family: Quicksand-SemiBolld;
    src: url(../fonts/Quicksand-SemiBold.ttf);
  }

  /* Inter font */

  @font-face {
    font-family: Inter-Bold;
    src: url(../fonts/Inter-Bold.ttf);
  }
  @font-face {
    font-family: Inter-Regular;
    src: url(../fonts/Inter-Regular.ttf);
  }
  @font-face {
    font-family: Inter-SemiBold;
    src: url(../fonts/Inter-SemiBold.ttf);
  }


  body {
    font-family: Quicksand-Regular;
    background: #f5f8fa;
  }

  p {
    font-family: Quicksand-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    text-align: center;

    color: #3E3E3E;
  }

   a{
    font-family: Quicksand-Regular;
    font-style: normal;
    font-weight: 500;
   }

   td {
    font-family: Inter-Regular;
   }

   th {
    color: #677788;
    font-family: Quicksand-Regular;
    font-weight: 600;
   }

  h1, h2, h3, h4, h5, h5 {
    font-family: Inter-Regular;
    font-weight: 600;
  }

.login-page-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    box-shadow: 0px 0px 20px 0px rgb(76 87 125 / 2%);
    border-radius: 0.625rem;
    border: none;
}

/* chat */ 

.avatar-box {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
}

.avatar-box .avatar-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #3F4254;
}

.bg-light-danger {
    background-color: #FFF5F8 !important;
    line-height: 45px;
}

.bg-white {
    background: #fff;
}

.sidebar:after, body > .navbar-collapse:after {
    background: #486CFE;
    background: linear-gradient(to bottom, #7D96FB 0%, #486CFE 100%);
    background-size: 150% 150%;
    z-index: 3;
    opacity: 1;
}

.sidebar .nav li .nav-link p {
    color: #fff;
}

.sidebar .logo-img img {
    max-width: 54px;
    max-height: 45px;
}

.navbar {
    box-shadow: 0 0 2rem 0 rgb(41 48 66 / 10%);
}

.navbar .navbar-nav .nav-item .nav-link {
    font-family: 'Inter-Regular';
    color: #132144!important;
    font-weight: 500;
    transition: .3s all;
}

.navbar .navbar-nav .nav-item > button {
    padding: 10px 15px;
    border: none;
    background: none;
    padding: 10px 15px;
    position: relative;
    display: inline-flex;
    margin: 8px 0;
    font-family: 'Inter-Regular';
    color: #132144!important;
    font-weight: 500
}

.navbar .navbar-nav .nav-item > .nav-link:hover , .navbar .navbar-nav .nav-item > button:hover {
    color: #1DC7EA!important;
}

.avatar-box .avatar-status {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    border-radius: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) !important;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
}

.bg-success {
    background-color: #50CD89;
}

.bg-light-info {
    background-color: #F8F5FF;
}

.bg-light-primary {
    background-color: #F1FAFF!important;
}

.start-100 {
    left: 100% !important;
}
.top-100 {
    top: 100% !important;
}

.chat-username {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #343434;
}

.chat-username-sm {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #343434;
}

.text-muted {
    color: #666;
    font-weight: 400;
    
}

.conversation-text .chat-username {
    font-weight: 500;
}

.voice-call-btn, .video-call-btn {
    background: #05BAFF!important;
    border-color: #05BAFF!important;
    width: 20px;
    height: 20px;
}

.voice-call-btn svg, .video-call-btn svg {
    fill: #fff;
}

.voice-call-btn, .video-call-btn, .more-btn {
    border-radius: 50px;
    border-radius: 50px;
    padding: 0;
    width: 48px;
    height: 46px;
    line-height: 41px;
}

.form-control.form-control-flush {
    border: 0;
    background-color: transparent;
    outline: none !important;
    box-shadow: none;
    border-radius: 0;
}

.send-help textarea {
    background: rgba(196, 196, 196, 0.22)!important;
    border-radius: 40px!important;
    padding-left: 25px;
}

.btn-brand {
    background-color: #05BAFF;
    border-color: #05BAFF;
    color: #fff;
}

.scroll-y {
    overflow-y: scroll;
   
}

.scroll-y.height-500 {
    height: 500px;
}
.scroll-y.height-600 {
    height: 600px;
}

.scroll-y.height-450 {
    height: 450px;
}

.scroll-y.height-288 {
    height: 288px;
}

.scroll-y::-webkit-scrollbar {
    width:5px;
}
.scroll-y::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius:5px;
}
.scroll-y::-webkit-scrollbar-thumb {
    border-radius:5px;
    -webkit-box-shadow: inset 0 0 6px #666; 
}

.table > thead > tr > th {
    color: #677788;
    font-weight: 600;
}

